<!DOCTYPE html>
[% USE Komma %]
[% dow = ['', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag'] %]
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Tagesangebote: [% date.dmy('.') %]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  </head>

  <body>
    <div data-role="page">
      <div data-role="header">
        [% IF prev_date %]<a href="/day/[% prev_date.ymd('-') %]" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-transition="slide" data-direction="reverse">[&lt;&lt;]</a>[% END %]
        <h1>[% dow.${date.dow} | html %], [% date.dmy('.') %]</h1>
        [% IF next_date %]<a href="/day/[% next_date.ymd('-') %]" data-role="button" data-icon="arrow-r" data-iconpos="notext" data-transition="slide">[&gt;&gt;]</a>[% END %]
      </div>

      <div data-role="content">

        <ul data-role="listview" data-filter="true">
[% last_place = '' %]
[% FOREACH offer = OFFERS %]
[%   IF offer.place.name != last_place %]
[%     last_place = offer.place.name %]
          <li data-role="list-divider">[% offer.place.name | html %]</li>
[%   END %]
          <li>[% offer.name | html %] <span class="ui-li-count">[% offer.price | komma2 %] &euro;</span></li>
[% END %]
        </ul>
      </div>

      <div data-role="footer" data-id="mittag-footer" data-position="fixed">
        <p>Alle Angaben ohne Gew&auml;hr!</p>
        <p>Fehler, Kommentare, neue Restaurants und Mithilfe gern an <a href="mailto:uwe@uwevoelker.de">uwe@uwevoelker.de</a></p>
      </div>
    </div>

  </body>
</html>
