body {
    font-family:Arial,Helvetica,Verdana,Times;
	font-size:14px;
}

div#container,
div#footer {
    margin: 0 auto;
    position: relative;
    width: 900px;
}

div#footer {
	font-size: 11px;
}

div#header {
    margin: 10px 0;
    width: 900px;
}

div#navigation .cc-tp-gutter {
    padding: 0;
}
div#navigation {
    width: 900px;
}
ul.topNavi {
    line-height: 100%;
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
    text-align: left;
}
ul.topNavi {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
ul.topNavi li {
    display: inline;
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
}
ul.topNavi li a, ul.topNavi li a:link, ul.topNavi li a:active {
    color: #CCCCCC !important;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 -1px !important;
    position: relative;
    text-decoration: none !important;
}
ul.topNavi li a span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fcfbce;
    border-bottom: 0 none !important;
    border-left: 1px solid #E0E0E0;
    border-radius: 6px 6px 0 0;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    color: #000 !important;
    display: block;
    margin: 0 12px 0 0;
    padding: 8px 12px 7px;
}
ul.topNavi li a.current span, ul.topNavi li a.parent span, ul.topNavi li a:hover span, ul.topNavi li a.current:hover span, ul.topNavi li a.parent:hover span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #C6FCC2;
    border-bottom: 0 none !important;
    border-left: 1px solid #CCCCCC;
    border-radius: 6px 6px 0 0;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    box-shadow: 2px -3px 6px 1px rgba(0, 0, 0, 0.1);
    color: #4B173F !important;
    display: block;
    margin: 0 12px 0 0;
    padding: 8px 12px;
}

div#naviTage {
	float: right;
}

div#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

div#content table th,
div#content table td {
	border: none;
	border-top: #CECECE 1px dotted;
	border-right: #CECECE 1px dotted;
}

div#content table tr.last td {
	border-bottom: #CECECE 1px dotted;
}

div#content table .first {
	border-left: #CECECE 1px dotted;
}

.clear {
	clear: both;
}

div.newseintrag {
    padding-top: 10px;
}
